%h3 New Website Contact Submission

%p
  Location: #{@submission.location}
  %br
  Subject: #{@submission.subject}
  %br
  Name: #{@submission.name}
  %br
  Email: #{@submission.email}

%p
  Message: #{@submission.message}
