.row.small-gutter
  .col-xs-12
    = f.text_field :name_of_employer, :label => false, :placeholder => 'name of employer'
  .col-xs-12
    = f.text_field :phone, :label => false, :placeholder => 'phone number'
.row.small-gutter 
  .col-xs-12
    = f.text_field :address, :label => false, :placeholder => 'address'

.row.small-gutter
  .col-xs-12
    = f.text_field :city, :label => false, :placeholder => 'city'
  .col-xs-9
    = f.text_field :state, :label => false, :placeholder => 'state'
  .col-xs-3
    = f.text_field :zip, :label => false, :placeholder => 'zip'
.row.small-gutter
  .col-xs-12
    = f.text_field :name_of_supervisor, :label => false, :placeholder => 'name of supervisor'
  .col-xs-12
    = f.text_field :position_held, :label => false, :placeholder => 'position held'
.row.small-gutter
  .col-xs-12
    = f.text_field :job_duties, :label => false, :placeholder => 'list your primary job duties'
.row.small-gutter
  .col-xs-6
    = f.text_field :date_of_employment, :label => false, :placeholder => 'date of employment'
  .col-xs-6
    = f.text_field :thru, :label => false, :placeholder => 'thru'
.row.small-gutter
  .col-xs-12
    = f.text_field :reason_for_leaving, :label => false, :placeholder => 'reason for leaving'
%br









