- content_for :title, 'Williams - Hines - Furlong'
- content_for :description, 'We look to make the future of inland river transportation even brighter by growing and evolving with today’s changing market, but never neglecting the family roots in the business.'

= image_tag 'river-hero.jpg', class: 'img-responsive'

#company-history.bg-primary.text-center.section
  .container-fluid
    .max-875.center-block
      .row
        .col-xs-12
          %h2.h3
            %span Five Generations
            .h1.white ON THE RIVER

          %p 
            The HFL motto is "five generations on the river." The Williams/Hines/Furlong Line descends from great-great grandfather, Richard T. Williams through great-great Uncles Richard Tom and Will Williams; great grandfather, 
            = link_to 'James Richard Hines;', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/James Richard Hines.jpg')}
            grandfather, 
            = link_to 'James G. Hines', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/James G Hines.jpg')} 
            to 
            = link_to 'Kent E. Furlong,', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/Kent E Furlong.png')}
            president and founder of Hines Furlong Line.

          = image_tag 'history/5gen1.jpg', style: 'float:right; padding:0 0 5px 10px;'

          %p 
            Hines Furlong Line’s long river history began in the 1870s when Captain Richard T. Williams came to the Green River with his family on his saw mill boat. He chose to settle the family of four sons, three daughters, and his wife, Patience, in the river town of Evansville, IN. In Evansville, Captain Richard Williams, along with three of his sons—Captains Tom and Edgar Williams and engineer Will Williams, built a steamboat that began the 
            = link_to 'Bowling Green and Evansville Packet Company.', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/Bowling Green and Evansville Packet Company.jpg')}

          %p 
            The brothers operated the company, transporting goods and people from Paducah, KY to Louisville, KY on the Ohio River; and Evansville to Bowling Green, KY on the Green and Barren Rivers, with stops at the tourist attraction, Mammoth Cave. The company operated until the steamer 
            = link_to 'Evansville', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/Evansville.jpg')}
            burned in 1930. Descendents of the Williams family who were also employed by the packet company included Jett W. Hines, husband of Ida Mae Williams-Hines, who worked as purser and great-nephew James R. Hines, warehouse agent.

          %p 
            In 1940, James R. Hines and T.C.Melton formed James R. Hines and Company when they purchased the 
            = link_to 'Queen of Dycusburg', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/Queen of Dycusburg.jpg')}
            (60hp) and the 
            = link_to 'New Hanover', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/New Hanover.jpg')}
            (100hp) to continue the asphalt towing trade started by Hines’ great uncles. They towed rock asphalt from Kyrock, KY on the Nolin River to Bowling Green on the Barren River. James G. Hines, son of James R. Hines and great-grandson of founding Captain, Richard T. Williams, continued the family river tradition by working on the New Hanover each summer beginning at age 14, continuing until his enlistment in the Army following high school graduation in 1943. The company expanded with the purchase of the M/V Shirley, powered by a 240hp Fairbanks Morse-Diesel engine, which was replaced by the 
            = link_to 'M/V John J. Kelley,', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/MV John J Kelley.jpg')}
            320hp.

          %p Following the close of the Kentucky Rock Asphalt operation, James R. Hines and Company entered the gasoline trade, transporting gasoline for Shell Oil Company from Wood River, IL and Mount Vernon, IN up the Ohio River. In 1944 the company added Gulf Oil Company as a customer, towing gasoline from North Bend, OH through the Kentucky towns of Carrolton, Frankfort, and Camp Nelson on the Kentucky River and Louisville and Evansville on the Ohio River. The trade extended to South Carrolton on the Green River and ultimately to Bowling Green.

          = image_tag 'history/5gen2.jpg', style: 'padding:10px 0;'

          %p 
            = link_to 'James R. Hines Corporation', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/James R Hines Corporation.jpg')}
            came into existence on May 8, 1946 when James G. Hines returned from World War II and merged his Army and river work savings of $15,000 with the assets of his father, James R. Hines’s, M/V New Hanover and a 26’x120’ wooden asphalt barge. The wooden barge was immediately traded for a 4,200 bbl steel tank barge, the Hines 1. A few years later, the company expanded with the purchase of the 
            = link_to 'M/V Hines Zephyr,', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/MV Hines Zephyr.jpg')}
            which was followed by the purchase of the M/V Knox. The vessels pushed and expanded the growing fleet of purchased and chartered tank barges. The James R. Hines Corporation owned the 
            = link_to 'M/V Knox,', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/MV Knox.jpg')}
            the M/V Hines Zephyr, and ultimately constructed, launched, and christened the 
            = link_to 'M/V Harper C. Patton', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/MV Harper C Patton.jpg')} 
            in 1953. James R. Hines Corporation towed gasoline into Bowling Green from Mount Vernon. The company also owned and operated 
            = link_to 'Zephyr gasoline stations,', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/Zephyr gasoline stations.jpg')} 
            a river terminal, and 
            = link_to 'tanker trucking facility', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/tanker trucking facility.jpg')} 
            near its offices in Bowling Green where they distributed and sold gasoline to other companies.

          %p 
            In 1955, Hines, Inc. was formed by James G. Hines and his brother, 
            = link_to 'Warren W. Hines.', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/Warren W Hines.jpg')} 
            It began with $5,000 capital and a $50,000 debenture bond. Hines, Inc. started its fleet by purchasing the 
            = link_to 'M/V Producers,', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/MV Producers.jpg')} 
            a 410hp single screw towboat, and 
            = link_to 'two new barges', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/two new barges.jpg')} 
            built by 
            = link_to 'Paducah Marine Ways', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/Paducah Marine Ways.jpg')} 
            which was owned by St. Louis Ship. A few years later, the fleet grew with the addition of the 
            = link_to 'M/V Sally Ann.', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/MV Sally Ann.jpg')} 
            Hines Inc. built the first new towboat (M/V James R. Hines) at St. Louis Shipyard. The M/V James R. Hines was 1,800hp and was later re-powered to 2,800hp. In 1963, the company underwent an additional expansion with the purchase of the 
            = link_to 'MV Larry Turner', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/MV Larry Turner.jpg')} 
            (2,800hp) and six barges from Hutchison Barge Line. Three years later the recently repowered, 3,200 hp 
            = link_to 'M/V William Barnes', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/MV William Barnes.jpg')} 
            was purchased. Along with the growth in the fleet, the company expanded its operating area to cover the entire inland waterways from Houston, TX to as far north as Pittsburg, PA and Minneapolis, MN.

          %p 
            Four years passed until the company grew in horsepower with the addition of the 1,600hp 
            = link_to 'M/V William Clark', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/MV William Clark.jpg')} 
            and the next year (1971) the company purchased the 2,800 hp 
            = link_to 'M/V Duncan L. Hines.', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/MV Duncan L Hines.jpg')} 
            Hines, Inc. looked to the shipyards again in 1974 for the construction of the company’s flagship at Jeffboat, the 
            = link_to 'M/V James G. Hines', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/MV James G Hines.jpg')} 
            (5,600hp). Eight years later in 1982, the company which had grown to approximately 110 employees took delivery of the 
            = link_to 'M/V Warren W. Hines', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/MV Warren W Hines.jpg')} 
            from Jeffboat. Through the remainder of the 1980s, the company did not expand its towboat fleet, but new construction of barges enabled the fleet to grow to 33 double-skin company-owned barges and 28 double-skin customer-furnished barges. In 1991, the assets of Hines, Inc. were sold to Jeffersonville, based American Commercial Barge Line, and Hines American Line was formed.

          %p 
            The most recent addition to storied family history within the river transportation industry is Hines Furlong Line, Inc. (“HFL”) HFL was incorporated on June 25, 2004 in Bowling Green, KY by Kent E. Furlong; the grandson of James G. Hines. The next year Jeffboat delivered the firm’s 
            = link_to 'first two 30,000 bbl tank barges.', 'javascript:;', class: 'popout-link', data:{ image: asset_path('history/first two 30000 bbl tank barges.jpg')}
            In the subsequent years after the first HFL barge hit the water the company experienced significant but steady growth of its tank barge fleet which today consist of fifty-five tank barges that have a combined loaded capacity of approximately 1.4 million barrels or fifty-nine million gallons. This growth has been driven by demand for inland tank barges and HFL’s ability to place barges in service with both operational barge companies and end user chemical and oil companies. HFL provides quality vessels to its customers in flexible, timely, and unique structures that complement their existing business lines and vessel fleets.

          %p
            In December 2017, HFL purchased the assets of 
            = link_to 'Hunter Marine Transport, Inc.', about_timeline_path
            of Nashville, TN. Hunter Marine founder and President, Ron Hunter, was a long-time friend and business partner of Kent Furlong. The acquisition allows HFL to continue Ron’s life work and ensure his legacy lives on. Additionally, the Hunter purchase has furthered the reach and scope of HFL’s operations and broadens the offerings and services that the company provides customers. The transaction included a fleet of high horsepower, line-haul towboats and several smaller harbor towboats. Hunter also operated two barge fleeting locations on the Cumberland River. Today the company is headquartered in Nashville, TN and the vessel operations office is in Paducah KY. With the addition of the dedicated Hunter Marine employees, HFL now employs over 215 dedicated mariners and professionals.


